html {
    scroll-behavior: auto;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#scene-container {
    position: relative;
    height: 800vh;
    width: 100%;
    overflow: hidden;
}

#scene {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


#ciel {
    position: fixed; 
    object-fit: cover;
    z-index: 0;
    width: 100%;
    height: 100%;
    transform-origin: center top;
}

#map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

#map{
    top: 54%;
    left: 0%;
    position: fixed;
    width: 100%;
    object-fit: cover;
    display: block;
    transform-origin: center bottom;
}

#map2{
    top: 45%;
    left: 0%;
    position: fixed;
    width: 100%;
    object-fit: cover;
    display: block;
    transform-origin: center bottom;
}

/*GIF*/
.GIF{
    display: none;
    width: auto;
    transform: translateX(-50%) scale(0.5);
}

#NuageGIF1{
    position: fixed;
    top: 25%;
    left: 60%;
    transform: translateX(-50%) scale(0.4);
}

#NuageGIF2{
    position: fixed;
    top: 30%;
    left:40%;
    transform: translateX(-50%) scale(0.4);
}

#NuageGIF3{
    position: fixed;
    top: 25%;
    left: 60%;
    transform: translateX(-50%) scale(0.4);
}

/*Txt Info*/
#TxtInfo{
    position: fixed;
    color: black;
    display: block;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    opacity: 0;
}

/*Pour les zoom*/

#nuage1_zoom{
    position: fixed;
    width: auto;
    top: 22%;
    left: 30%;
    z-index: 10;
    transform: translateX(-50%) translateY(-50%) scale(0.4);
}

#nuage2_zoom{
    position: fixed;
    width: auto;
    top: 27%;
    left: 20%;
    z-index: 10;
    transform: translateX(-50%) translateY(-50%) scale(0.07);
}

#nuage3_zoom{
    position: fixed;
    width: auto;
    top: 27%;
    left: 75%;
    z-index: 10;
    transform: translateX(-50%) translateY(-50%) scale(0.45);
}

/*Phase 3*/
.scene-musee{
    position: fixed;
    top: 200vh; /* apparaît après ton ciel */
    width: 100%;
    height: 100%;
}

.calque-ville{
    position: fixed;
    opacity: 1;
    bottom: -27.8%;
    left: -90%;
    width: 100%;
    transform: scale(0.13);
}

.musee,
.ruines,
.ecolier{
    opacity:0;
    z-index: 20;
}

.musee.visible,
.ruines.visible,
.ecolier.visible{
    opacity:1;
}

.musee {
    position: fixed;
    bottom: -55vh;
    right: 0px;
    width: 300px;
}

.ruines {
    position: fixed;
    bottom: -30vh;
    right: -5vh;
    width: 400px;
}

.ecolier {
    position: fixed;
    bottom: -30vh;
    left: 8vh;
    width: 260px;
}