
:root{
    --white : #FFF;
}


@font-face {
  font-family: "Black_italic";
  src: url("fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 24px;
  font-size: 24px;
}

@font-face {
  font-family: "semi_blod_italic";
  src: url("fonts/montserrat.black-italic.ttf") format("truetype");
  font-weight: 12px;
  font-size: 12px;
  font-style: normal;
}

h3{
    margin: 0;
}