
:root{
    --white : #FFF;
    --red : #E5231A;
    --green : #6ECA97
}


@font-face {
  font-family: "Black_italic";
  src: url("../fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "semi_blod_italic";
  src: url("../fonts/montserrat.black-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter_Italic";
  src: url("../fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-style: normal;
}

h2, h3, p{
    margin: 0;
}

body{
    background-color: #F1F1F1;
}