


.film{
    position: relative;
}

.film > div{

    /* width: 350px;
    height: 600px; */
    
    width: 120px;
    height: 206px;
    
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    
    transform-style: preserve-3d;

}

.film > .affiche_front{
    /* z-index: 1; */
    transform: rotateY(0deg)

}

.film > .affiche_front > img{
    /* max-width: 350px; */
    max-width: 120px;
    
}



.film > .affiche_back{
    transform: rotateY(-180deg);
    position: absolute;
    top: 0;
    left: 0;
}




/* /// */

.affiches{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    /* perspective: 800px; */
    transform-style: preserve-3d;
    margin : 8px;

}

body{
    margin: 0;
}