


.film{
    position: relative;
}

.film > div{

    /* width: 350px;
    height: 600px; */
    
    width: 120px;
    height: 206px;
    
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    
    transform-style: preserve-3d;

}

.film > .affiche_front{
    /* z-index: 1; */
    transform: rotateY(0deg)

}

.film > .affiche_front > img{
    /* max-width: 350px; */
    z-index: -1;
    max-width: 120px;
    position: absolute;
    
}



.film > .affiche_back{
    transform: rotateY(-180deg);
    position: absolute;
    top: 0;
    left: 0;
}




/* /// */

.affiches{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    transform-style: preserve-3d;
    margin : 8px;

}

body{
    margin: 0;
    overflow: hidden;
}




/* /////////// */


.zoon_contre{
    --transparance_contre : 70%;
    background: linear-gradient(90deg, red 69%, transparent var(--transparance_contre));
    border-radius: 300px;

    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 0;
    
    width: 200px;

    transform: translate(-70%,0);
}


.zoon_pour{
    --transparance_pour : 30%;
    background: linear-gradient(90deg, transparent var(--transparance_pour), green 31%);
    border-radius: 300px;

    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 0;
    
    width: 200px;

    transform: translate(70%,0);
}