



body{
    margin: 0;
    overflow: hidden;
    background-color: #F1F1F1;

    touch-action: none;
}


/* /////////// */


.zone_contre, .zone_pour{
    position: absolute;
    top: 10px;
    bottom: 10px;

    border-radius: 50%;
    
    width: 100px;
}

.zone_contre{
    --transparance_contre : 50%;
    background: linear-gradient(90deg, red 49%, transparent var(--transparance_contre));

    left: 0;

    transform: translate(-50%,0);
}


.zone_pour{
    --transparance_pour : 50%;
    background: linear-gradient(90deg, transparent var(--transparance_pour), green 51%);

    right: 0;
    
    transform: translate(50%,0);
}


.icon_pasinteresse, .icon_interesse{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%)
}

.icon_pasinteresse{
    left: 0;
    transform:translateX(-100px);
}

.icon_interesse{
    right: 0;
    transform: translateX(100px);
}



/* //////// */



.text_intro{
    background: white;
    padding: 50px 12px 30px;

    box-shadow: 3px 5px 3.6px 0 rgba(0, 0, 0, 0.25) inset, 0 10px 4px 0 rgba(0, 0, 0, 0.25), 0 9px 5px 0 rgba(0, 0, 0, 0.50);
    border-radius: 30px;


    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 302px;

      top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_intro > h2, .text_intro > p{
    text-align: center;
}

.text_intro > h2{
    font-family: "Black_italic";
    font-size: 24px;
}

.text_intro > p{
    font-family: "semi_blod_italic";
    font-weight: 300;

    font-size: 14px;
}

.green_span{
    color: var(--green);
}

.red_span{
    color: var(--red);
}

span.compteur{
    /* display: none; */

    position: absolute;
    top: 50%;
    left: 50%;

    font-family: "Black_italic";
    font-size: 60px;
    opacity: 0.9;

    transform: translate(-50%,-50%);
}

h1.text_fin{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font-family: "Black_italic";
    font-size: 30px;
    transform: translate(0,-50%);
    text-align: center;
    padding: 30px;

}

.end_button{
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 10px;
    transform: translate(-50%);
}