/* ------- Important ! Please at least keep the last part of this CSS ----------- */
/* ------- that adapts content width and height so that aspect ratio  ----------- */
/* ------- is kept between 9/16 a,d 3/4 (portait orientation)         ----------- */

/* Normalize margin and padding to ease elements positioning */
*{
    padding:0;
    margin:0;
}

/* Swiper slider. Need to fill the container */
#mySwiper{
    width: 100%;
    height:100%;
    position: absolute;
}

/* white navigation bullets */
.swiper-pagination-bullet-active {
    background-color: white !important;
}

/* Allow long content to scroll vertically inside each slide */
.swiper-wrapper section{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

/* Most of the elements in this demo are absolute positioned with percentages */
#first-slide header, #second-slide header{
    text-align: center;
    width: 100%;
    top: 10%;
    position: absolute;
    font-size: 30%;
    z-index: 2;
}

#logo-hyblab{
    text-align: center;
    width: 50%;
    left: 50%; /* center the logo, in interaction with the negative margin-left */
    top: 50%;
    margin-left:-25%; /* this is half the width */
    margin-top:calc(-7.5% * 9 / 16 ); /* margins are relative to the element width... :-( */
    position: absolute;
    font-size: 50%;
    z-index: 2;
    cursor: pointer;
}

/* Last slide image is centered */
#img-fini{
    width: 50%;
    left: 50%; /* center the logo, in interaction with the negative margin-left */
    top: 40%;
    position: absolute;
    margin-left:-25%; /* this is half the width */
    margin-top:calc(-25% * 9 / 16 ); /* margins are relative to the element width... :-( */
}


/* Footer of last slide is at the bottom and content is centered */
#first-slide footer{
    bottom: 5%;
    position: absolute;
    box-sizing: border-box; /* So that padding is not added to width (and width: 100% works) */
    width: 100%; /* could also use  width: calc(100% - 2em) if not using box-sizing */
    font-size: 20%;
    text-align: center;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
}


/* ---------- Positioning of logos on the last slide -------------------- */
/* here we have a contraint on the height of the logos (not the width)     */
/* so we cannot use % and use em (which are proportional to the size of the */
/* slide because of body's font size rule at the end of this CSS           */
#bandeau {
    width:100%;
    position: absolute;
    bottom: 0;
    background-color: white;
    font-size: 20%;
  }

  #bandeau li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
  }

  #bandeau img{
    height: 2.5em;
  }

  #bandeau #hyblab{
    margin: 1em auto;
    height: 3em;
    display: block;
  }

  #bandeau #cc, #bandeau #opensource
  {
    height: 1em;
  }

  #bandeau .stacked{
    display:block;
  }

  #bandeau ul{
    text-align: center;
    padding: 0 0;
    margin: 0.5em auto;
  }

  #bandeau .institutionnel
  {
    height: 2em;
  }

/* ---------- Important media queries for easy responsive content :-) ----------------- */
/* Whatever the device used, the content will be displayed full width and height if      */
/* the aspect ratio is between 3/4 and 9/16. If not it is locked to either 3/4 or 9/16  */

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container{
    position: fixed; /* To set the size of the container to 100% of the visible viewport height AND for absolute positioning of child elements*/ 
    height: 100%;   /* even on mobile devices with url or navigation bars */
    margin-left: calc((100vw - 100 * 3vh / 4) / 2); /* Add black bands on left and right */
    width: calc(100 * 3vh / 4); /* Force 3/4 aspect ratio */
}

/* We set a default font size here. It will be the base for all other font sizes */
/* Here the font size is proportional to content width */

:root {
  --color-white: #ffffff;
  --color-green: #1CB26B;
  --color-black: #000000;
  --color-light-gray: #f5f5f5;
  --color-gray: #888888;

  --color-background: #ffffff;
  --color-text: #222222;
  --color-border: #e5e5e5;
}

body{
    background-color: var(--color-light-gray);
    color: rgb(0, 0, 0);
    overflow-y: auto;
    overflow-x: hidden;
    

    font-size: 16px;
    font-family: 'Inter', sans-serif;

}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7SUc.woff2) format('woff2');
}

#announcement-bar-root {
    background-color: var(--color-green);
    color: var(--color-white);
    font-weight: 100;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 8px 0;
}

.gh-announcement-bar-content {
    font-size: 10px;
    text-align: center;
    flex: 1;
}

#announcement-bar-root button {
    position: absolute;
    right: 10px;
    top: 25%;
    
    background: none;
    border: none;
    padding: 0;
    color: var(--color-light-gray);
    font-size: 14px;
    cursor: pointer;
}

.c-header {
    font-family: 'Trebuchet MS';
    background: var(--color-white);
    border-bottom: 1px solid var(--color-border);
}

.c-nav-wrap{
    
}

.c-header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--color-white);
}

.c-logo {
  flex-shrink: 0;
}


.c-logo__img {
  width: 50px;
  height: auto;
}

.c-nav-wrap {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.c-nav--left {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-nav__link {
  color: var(--color-gray);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.c-nav__link:hover {
  color: var(--color-black)
}

.c-nav__link.active {
  color: var(--color-black)
}

.c-nav--right {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.toggle-search-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-gray)
}

.toggle-search-button:hover {
  color: var(--color-black)
}

.c-nav--right .c-nav__link {
  color: var(--color-gray)
}

.c-nav--right .c-nav__link:hover {
  color: var(--color-black)
}

.c-header__inner > .c-logo {
  margin-right: 30px;
}

.c-nav-wrap {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}









/* Fill the whole viewport when its aspect ratio is between 9/16 and 3/4 */
@media screen and (max-aspect-ratio: 3/4) {
    #container{
        margin-left: 0; /* reset margin-left */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

/* The content is displayed at 9/16 If the aspect ratio is higher that 9/16  */ 
@media screen and (max-aspect-ratio: 9/16) {
    
    #container{
        margin-left: 0; /* reset left margin */
        width: 100vw;   /* content is full width */
        margin-top: calc(-50 * 16vw / 9); /* move the content half the height to the top */
        top:50%; /* then center it ! */
        height: calc(100 * 16vw / 9); /* adjust height so that aspect ratio is 9/16 */
    }

    /* We set a default font size here. It will be the base for all other font sizes */
    /* Here the font size is proportional to content width */
    body{
        font-size: 15vw;
    }
}

