/* Swiper slider. Need to fill the container */
#mySwiper{
    width: 100%;
    height:100%;
    position: absolute;
}

/* white navigation bullets */
.swiper-pagination-bullet-active {
    background-color: white !important;
}

/* Allow long content to scroll vertically inside each slide */
.swiper-wrapper section{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

/* When the aspect ratio is smaller that 3/4, display a 3/4 content */
#container{
    position: fixed; /* To set the size of the container to 100% of the visible viewport height AND for absolute positioning of child elements*/ 
    height: 100%;   /* even on mobile devices with url or navigation bars */
    width: 100%;
    top: 0;
    left: 0;
}

/* We set a default font size here. It will be the base for all other font sizes */
/* Here the font size is proportional to content width */

:root {
  --color-white: #ffffff;
  --color-green: #1CB26B;
  --color-pink: #F7A6DE;
  --color-blue: #1F71DA;
  --color-yellow: #FADD3D;
  --color-red: #F14E20;
  --color-black: #000c2d;
  --color-light-gray: #f5f5f5;
  --color-gray: #687385;

  --color-background: #ffffff;
  --color-text: #222222;
  --color-border: #e5e5e5;
}

body {
    background-color: var(--color-light-gray);
    color: var(--color-black);
    overflow-y: auto;
    overflow-x: hidden;

    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.wrapper{
    padding-left :5%;
    padding-right :5%;
}

article p {
  text-align: justify;
}

#announcement-bar-root {
    background-color: var(--color-green);
    color: var(--color-white);
    font-weight: 100;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.gh-announcement-bar-content {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-right: 10%; /*marge pour la croix*/
    margin-left: 10%; /*marge pour la croix*/
    margin-top: -5px;
    margin-bottom: -5px;
}

#announcement-bar-root button {
    position: absolute;
    right: 10px;
    top: 10px;
    
    background: none;
    border: none;
    padding: 0;
    color: var(--color-light-gray);
    font-size: 14px;
    cursor: pointer;
}

.c-header, .c-tags-list {
    font-family: 'Trebuchet MS';
    background: var(--color-white);
    border-bottom: 1px solid var(--color-border);
}

.c-header__inner, .c-tags-list-wrap {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--color-white);
}
/*SLIDER HORIZONTAL POUR LES TAGS*/

.c-tags-list-wrap {
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 10 20px;
}

.c-tags-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.c-tags-list li {
  white-space: nowrap;     /* empêche le texte de passer à la ligne */
}

/* masque dégradé sur les côtés */
.c-tags-list-wrap::before,
.c-tags-list-wrap::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px; /* largeur du gradient */
  pointer-events: none; /* laisse passer le scroll */
  z-index: 1;
}

.c-tags-list-wrap::before {
  left: 0;
  background: linear-gradient(to right, var(--color-white), transparent);
}

.c-tags-list-wrap::after {
  right: 0;
  background: linear-gradient(to left, var(--color-white), transparent);
}

/* optionnel : cacher la scrollbar sur certains navigateurs */
.c-tags-list::-webkit-scrollbar {
  display: none;
}

.c-post-header__excerpt{
    color: var(--color-gray);
}




.c-logo {
  flex-shrink: 0;
}


.c-logo__img {
  width: 50px;
  height: auto;
}

.c-nav-wrap {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.c-nav--left {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-nav__link,.c-tags-list__link {
  color: var(--color-gray);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.c-nav__link:hover,.c-tags-list__link:hover{
  color: var(--color-black)
}

.c-nav__link.active,.c-tags-list__link.active{
  color: var(--color-black)
}

.c-nav--right {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.toggle-search-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-gray)
}

.toggle-search-button:hover {
  color: var(--color-black)
}

.c-nav--right .c-nav__link {
  color: var(--color-gray)
}

.c-nav--right .c-nav__link:hover {
  color: var(--color-black)
}

.c-header__inner > .c-logo {
  margin-right: 30px;
}

.c-nav-wrap {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-nav-wrap{
display:none;
}

.c-nav-toggle{
font-size:25px;
background:none;
border:none;
}

/* menu mobile */

@media (max-width:768px){

.c-nav-wrap{
position:absolute;
top:60px;
left:0;
width:100%;
background:white;
padding:20px;
}

}
.row {
    height: auto;
}

.box {
  height: 100px;
  width: 100px;
}


button{
    font-size: 20%;
    padding: 0.5em 1em;
    cursor: pointer;
}

#map{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; 
    justify-content:center;
}
