@import "tailwindcss";
@plugin "daisyui";


@theme {
  /* --- Couleurs de la charte graphique --- */
  
  /*Couleur primaire*/
  --color-primary: #404040;

  /*Couleur secondaire*/
  --color-secondary: #feeb15;
}

/* Application locale des couleurs à daisyUI via son plugin de thème */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #404040;
  --color-secondary: #feeb15;
}


/* Pour Chrome, Safari et Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Pour Firefox, IE et Edge */
html,
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  scroll-behavior: auto !important;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #ffff;
}

/* Masquer la scrollbar pour Chrome, Safari et Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Masquer la scrollbar pour IE, Edge et Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scroll-container {
  overflow-y: scroll;
  touch-action: pan-y;
  /* Force le navigateur à ne gérer que l'axe vertical sans fioritures */
  -webkit-overflow-scrolling: auto;
  /* Désactive le momentum natif iOS qui cause souvent ce lag en inversion */
}

* {
  font-family: 'Poppins', sans-serif;
}